USE [hcDatabase]
GO
/****** Object:  User [jose]    Script Date: 10/9/2026 0:36:23 ******/
CREATE USER [jose] FOR LOGIN [jose] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [jose]
GO
ALTER ROLE [db_datareader] ADD MEMBER [jose]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [jose]
GO
/****** Object:  Table [dbo].[tbl_historiales_clinicos]    Script Date: 10/9/2026 0:36:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_historiales_clinicos](
	[his_id] [int] IDENTITY(1,1) NOT NULL,
	[pac_id] [int] NOT NULL,
	[his_num_historia] [varchar](50) NOT NULL,
	[his_diagnostico] [varchar](500) NOT NULL,
	[his_tratamiento] [varchar](500) NULL,
	[his_fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_historiales_clinicos] PRIMARY KEY CLUSTERED 
(
	[his_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_historiales_clinicos] ADD  DEFAULT (getdate()) FOR [his_fecha]
GO
