USE [pacienteDatabase]
GO
/****** Object:  User [jose]    Script Date: 10/9/2026 0:38:20 ******/
CREATE USER [jose] FOR LOGIN [jose] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [jose]
GO
ALTER ROLE [db_datareader] ADD MEMBER [jose]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [jose]
GO
/****** Object:  Table [dbo].[tbl_pacientes]    Script Date: 10/9/2026 0:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_pacientes](
	[pac_id] [int] IDENTITY(1,1) NOT NULL,
	[pac_cedula] [varchar](20) NOT NULL,
	[pac_nombre] [varchar](100) NOT NULL,
	[pac_apellido] [varchar](100) NOT NULL,
	[pac_direccion] [varchar](250) NULL,
 CONSTRAINT [PK_tbl_pacientes] PRIMARY KEY CLUSTERED 
(
	[pac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_pacientes_cedula] UNIQUE NONCLUSTERED 
(
	[pac_cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
